.image-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px; /* Anchura fija */
  height: 55px; /* Altura fija */
  border-radius: 50%; /* Hace que el fondo sea completamente redondo */
  font-size: 34px; /* TamaÃ±o del icono */
}

.image-button-icon:hover {
  border: 1px solid var(--shadow);
  background: var(--contrast_dark);
  color: var(--font-color);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(3px); /* Incrementa la sombra al hacer hover/focus */
}