.image-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  width: 55px; /* Anchura fija */
  height: 55px; /* Altura fija */
  border-radius: 50%; /* Hace que el fondo sea completamente redondo */
  font-size: 34px; /* TamaÃ±o del icono */
}

.image-button-icon:hover {
  color: var(--contrast_dark);
}