:root {
  --fontColor: #fff;
}

.wrapper {
  position: relative;
  justify-content: center;
  width: 500px;
  background: transparent rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid;
  border-radius: 10px;
  color: var(--fontColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: height 0.3s ease;
}

.form-box {
  width: 100%;
  padding: 20px 30px 20px 30px;
  box-sizing: border-box;
}

.form-box.hidden {
  display: none;
}

.form-box.login, .form-box.register {
  display: flex;
  flex-direction: column;
}

form h1 {
  font-size: 36px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  font-size: 16px;
  color: var(--fontColor);
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: var(--fontColor);
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: var(--fontColor);
  margin-right: 4px;
}

.remember-forgot a {
  color: var(--fontColor);
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

button[type="submit"] {
  background-color:var(--contrast);
  color: var(--font-color_2);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
}

button[type="submit"]:hover {
  border: 1px solid var(--shadow);
  background: var(--contrast_dark);
  color: var(--font-color);
  box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.3); 
  transform: translateY(2px);
}

.g-recaptcha{
  margin-left: 65px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#reCaptcha{

  margin: 100px;

}
.register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: var(--fontColor);
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
