.containerSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}
  
.cards-Section {
  flex: 1;
}

.cardsContainer{
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: 50% 50%;
}

.map-containerSection {
  width: 50%; /* Reducir el ancho del contenedor del mapa */
}

.card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s ease-in-out;
  margin-bottom: 20px; /* Ajusta el margen inferior según tus necesidades */
}

.card-image-container {
  flex: 1;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-details {
  flex: 2;
  padding: 1rem;
}

.card-category {
  color: #888;
}

.card-title {
  margin-top: 0;
}

.card-text {
  margin-bottom: 5px;
}

.discount-tag {
  background-color: #ff0000;
  color: #fff;
  padding: 3px 5px;
  border-radius: 4px;
  display: inline-block;
}
  
/* Agregar efecto de agrandamiento al pasar el ratón */
.card:hover {
  transform: scale(1.05);
}

/* PAra las estrellas*/
.star-rating {
  display: inline-block;
  font-size: 24px; /* Ajusta el tamaño según tu preferencia */
  color: gold; /* Establece el color amarillo para las estrellas */
}

.star {
  margin-right: 2px; /* Espacio entre las estrellas */
}
  